/*
   Theme Name: Punctum Zerif Lite Child
   Theme URI: https://www.themeisle.com/
   Description: This is a custom child theme I have created.
   Author: Alli Crandell
   URI: https://www.themeisle.com/
   Template: zerif-lite
   Version: 4.1
   */


@font-face {
    font-family: 'MyUnderwood';
    src: url('fonts/MyUnderwood-webfont.eot');
    src: url('fonts/MyUnderwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyUnderwood-webfont.woff') format('woff'),
         url('fonts/MyUnderwood-webfont.ttf') format('truetype'),
         url('fonts/MyUnderwood-webfont.svg#my_underwoodregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    vertical-align: baseline !important;
}

.comment-form label:last-of-type {
width: 185px;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}

.navbar-brand {
    float: none;
    line-height: 1.5em;
    height: auto;
}

.navbar-brand>img {
border-bottom: 1px solid white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #999;
}

ul.nav > li > a:hover:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #999;
    bottom: 0px;
    left: 12.5%;
    display: block;
}

.section-content h2,
section .section-header h2,
h1.page-title {
    font-family: 'MyUnderwood', monospace;
    text-transform: none;
}

h1.entry-title {
    font-size: 1.8em;
    line-height: 1.1em;
}

.focus-box .service-icon {
    border: 10px double black;
}

#focus h2 {
    text-transform: none;
}

.btn-primary {
    font-size: 24px;
    font-family: 'MyUnderwood',monospace;
    text-transform: capitalize;
    font-weight: 100;
}

ul.skills li.skill {
    width: 50%;
    clear: none;
    float: left;
    text-align: center;
}

ul.skills li.skill img {
    display: block;
    max-height: 120px;
    margin: 0 auto;
}

ul.skills li.skill:nth-of-type(3),
ul.skills li.skill:nth-of-type(4) {
    clear: both;
    width: 100%;
}

ul.skills li.skill p {
    text-align: center;
}

#aboutus.about-us .big-intro {
    font-size: 52px;
}

#aboutus h6 img {
    max-height: 400px;
}

#aboutus h2 {
    text-transform: none;
    color: #272727;
}

#aboutus {
    background: white;
    color: #272727;
}

#latestnews h2 {
    color: #fefefe;
    text-transform: none;
}

#latestnews #carousel-homepage-latestnews .carousel-inner .item h5.latestnews-title a {
    color: #fefefe;
}

#latestnews {
    background-color: #272727;
    color: white;
}


/*EDD Box
.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
    border-radius: 30px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-family: 'MyUnderwood',monospace;
    line-height: 39px;
    margin-left: 0px;
    padding-left: 10px;
    text-transform: lowercase;
    font-weight: 600;
    padding: 0;
    padding-right: 10px;
}


a.edd-add-to-cart span {
    font-size: 18px;
}


a.edd-add-to-cart:before {
    content: url('http://dev.allicrandell.net/punctum/wp-content/uploads/2015/09/cropped-punctum_logo_favicon-e1445563087686.png');
    float: left;
    display: block;
    margin-left: -2px;
    margin-top: -1px;
    padding-right: 10px;
    height: 39px;
}

.edd_purchase_submit_wrapper input[type=submit],
.edd_purchase_submit_wrapper a.edd_go_to_checkout {
    display: none;
    visibility: hidden;
}

.subscribe {
    display: block;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #ccc;
}*/

/*.edd_purchase_submit_wrapper a.edd-add-to-cart,
.edd_purchase_submit_wrapper a.edd_go_to_checkout,
.buttons #ebook a.button.edd-add-to-cart *,
.buttons #ebook a.button.edd-add-to-cart {
    display: none;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}*/

.cover {
    display: block;
    float:left;
    padding-right: 20px;
    max-width: 30%;
}

.cover img {
    margin-top: 5px;
    width: 100%;
    box-shadow: 1px 1px 15px #ddd;
}

article.publication .entry-header {
    float: left;
    max-width: 68%;
}

article.publication .entry-title:before {
    width: 30%;
}

.entry-meta {
    float: left;
width: 68%;
    padding: 0 5px 10px 5px;
}

article .entry-meta p a {
    font-style: normal;
}

.entry-buy {
    margin-top: 10px;
}

.entry-buy h2,
.entry-content h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.entry-content h2 {
}

.entry-buy h3 {
    font-family: 'MyUnderwood',monospace;
    text-transform: lowercase;
    font-size: 1em;
    line-height: 1em;
    color: #aaa;
}

article.publication .entry-content {
    float: left;
    max-width: 68%;
    padding: 15px 15px 15px 0;
}

.entry-footer {
    clear: both;
}

article.publication .entry-meta p {
    margin-bottom: 5px;
}

.entry-feature {
    color: #aaa;
    line-height: 20px;
    font-size: 20px;
    padding: 30px 10px;
}

.entry-feature {
    background-image: url('quotes.jpg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: top -10px;
}

article.publication .buttons {
    margin-top: 0px;
}

.buttons #print,
.buttons #ebook,
.buttons #subscribe {
    width: 33%;
    float: left;
    position: relative;
    display: block;
    height: 130px;
    margin: 10px 0;
}

.buttons #print,
.buttons #ebook {
    border-right: 1px solid #eee;
}

.buttons,
.buttons button,
.buttons input[type="submit"].edd-submit,
#member a {
    font-family: 'Lato',sans-serif;
    font-size: 16px;
}

.buttons button,
.buttons input[type="submit"].edd-submit {
    position: absolute;
    left: 50%;
    margin-left: -35%;
    bottom: 0;
    width: 70%;
    height: 36px;
    padding: 6px 12px;
}

.buttons input[type="submit"].edd-submit  {
    bottom: -5px;
}

.buttons #ebook .button,
.buttons button,
#member a,
.edd-checkout #edd-purchase-button {
    clear: both;
    color: white;
    display: block;
    padding: 6px 12px;
    margin-top: 5px;
    border: none;
    text-align: center;
    font-style: normal;
    background: #e96656;
}

.buttons #ebook .button {
    width: 70%;
    margin: 0 auto;
    height: 36px;
    margin-top: 9px;
}

.edd-checkout #edd-purchase-button {
    margin: 5px auto;
    width: 70%;
    height: 60px;
    font-size: 1.2em;
    font-family: 'Lato',sans-serif;
}

.edd_go_to_checkout.button {
    margin: 0 auto;
}

.buttons input[type="text"] {
    height: 30px;
}

.buttons #print,
.buttons #subscribe, .buttons #ebook {
    line-height: 34px;
}

.buttons .small {
    clear: both;
    display: block;
    text-transform: lowercase;
    font-size: 11px;
    line-height: 16px;
    font-family: 'MyUnderwood', monospace;
}


article.publication .entry-meta p.edd-cp-container {
    margin-bottom: 2px;
}





.buttons button:hover,
.buttons input[type="submit"]:hover,
.buttons #ebook .button:hover,
#member a:hover {
    border: none;
    box-shadow: none;
    background: black;
}

.buttons .open-access {
    font-size: 12px;
    border-top: 1px solid #aaa;
    clear: both;
    width: 90%;
    padding: 5px 10%;
    margin: 0 auto;
}

.related {
    padding-top: 80px;
}

.related h3 {
    font-family: 'MyUnderwood',monospace;
    font-size: 16px;
    text-transform: lowercase;
}

.wc-shortcodes-footer-entry-meta .authors {
    display: block;
    clear: both;
}

.wc-shortcodes-posts-template-borderless .wc-shortcodes-post-border {
	border-bottom: none;
}

.widget-categories ul {
    list-style: none;
}

/*Membership Table*/
#member {
    border-top: 4px double #ccc;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

#member td {
    border-top: none;
}

#member h3 {
    margin: 0 auto;
    font-weight: bold;
}

#member h3.publication {
    background: white;
    color: #333;
    width: 25%;
    margin-top: -20px;
    font-size: 1em;
    text-transform: lowercase;
}

#member tr:first-of-type td:first-of-type {
    background: rgba(233,102,86,0.6);
}

#member tr:first-of-type td:nth-of-type(2) {
    background: rgba(233,102,86,0.8);
}

#member tr:first-of-type td:nth-of-type(3) {
    background: rgba(233,102,86,1);
}

#member td:first-of-type a {
    background: rgba(233,102,86,0.6);
}

#member td:nth-of-type(2) a {
    background: rgba(233,102,86,0.8);
}

#member td:nth-of-type(3) a {
    background: rgba(233,102,86,1);
}

#member a:hover {
    background: black !important;
}

#member table {
    margin-top: 20px;
    width: 100%;
}

#member td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
    width: 33%;
    text-align: center;
}

#member tr.or td {
    border: 1px solid #eee;
    color: black;
    width: 105%;
    font-size: 15px;
    line-height: 18px;
    padding: 0;
}

#member a {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    display: inline-block;
    font-size: 1.7rem;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
}

#member .annual a {
    font-size: 1.3rem;
    padding: 10px 0;
}

#member .price{
    color: black;/
    font-size: 38px;
    font-family: 'MyUnderwoodRegular','MyUnderwood',monospace;
    font-weight: 100;
    font-size: 4rem;
}

#member .name {
    background-color: #333;
    color: white;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}

#member .monthly {
    height: 80px;
    line-height: 18px;
    font-size: 13px;
}

#member .per {
    font-size: 14px;
    line-height: 25px;
}

#member .annual a span.strike {
    display: block;
    clear: both;
    font-size: 14px;
    text-decoration: line-through;
}

#member .title td {
    border-bottom: 1px solid #eee;
    line-height: 15px;
    baseline-shift: 20px;
    font-family: 'MyUnderwoodRegular','MyUnderwood',monospace;
}

span.nb {
    text-align: center;
    width: 100%;
    display: inline-block;
}

#content p.member {
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px 30px 20px;
}

.buttons {
    display: block;
}

.widget_categories ul {
    list-style: none;
}

.widget li:before {
    display: none;
}

#secondary .widget-categories li {
    padding-left: 0;
    margin: 10px 0;
}

ul.imprint {
    list-style: none;
    margin: 0;
}

ul.imprint li {
    box-shadow: none;
    max-width: 80%;
    display: block;
    margin: 20px 0;
}

ul.imprint li a {
    font-size: 14px;
    font-style: italic;
    color: #ccc;
    line-height: 15px;
}

/*.buttons #ebook input[type="submit"].edd-submit {
    width: auto;
    margin-left: -35%;
}*/

.buttons #ebook input[type="submit"].edd-submit {
    width: 0px;
    visibility: hidden;
}

.citation p {
    display: block;
    font-size: 0.65rem;
    line-height: 1rem;
}

.citation {
    margin-top: 10px;
    clear: both;
    width: 100%;
}

p.other {
   color: #333;
}

.entry-footer .meta {
    text-align: center;
}


.in-cart #ebook .edd_purchase_submit_wrapper a.edd_go_to_checkout {
    background-color: #000 !important;
    border-radius:4px;
    color: white;
    clear: both;
    display: block;
    height: 50px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    width: 200px;
    padding:6px 12px;
    visibility: visible !important;
    width: 80%;
}

.in-cart input.edd-add-to-cart,
.in-cart p.edd-cp-container {
    visibility: hidden;
    visibility: collapse;
}

.in-cart p.edd-cp-container {
    height: 15px;
}

.edd_cp_price{
  margin-top: 25px;
  }

div.edd_price_options > ul > li:last-child{
  margin-right: .8em;
  }

a.edd_go_to_checkout:before {
    clear: both;
   content: "added to cart";
   display: block;
}


.edd-cart-added-alert {
    width: 160px;
}

.edd_price_options ul li {
    float: left;
}

.edd_empty_cart {
  display: none;
}

.recurring-option,
.edd-cp-container,
.edd_purchase_submit_wrapper {
  display: inline-block;
}

.recurring-option-custom .edd_purchase_submit_wrapper,
.donate .edd_purchase_submit_wrapper {
  position: relative;
  top: -30px;
}

.edd_price_options ul li span.edd_price_option_price {
    background: white;
    cursor: pointer;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'MyUnderwoodRegular',monospace;
    font-weight: normal;
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    height: 100%;
}

/*.edd_price_options ul li:last-of-type span {
    margin-top: 20px;
}*/

label input[type="radio"]:checked + span.edd_price_option_price {
  background: green;
}

label input[type="radio"]:checked ~ span,
.edd_price_options ul li:last-of-type label input[type="radio"]:checked ~ span {
    background-color: #e96656;
    color: white;
}

.edd_price_options ul li label input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.edd_download_purchase_form .edd_price_options span.edd_price_option_sep {
    display: none;
}

.open-access a {
    font-style: normal;
font-size: inherit;
}

.search-results article.publication .entry-header {
    float: none;
}

article.publication .entry-meta p.contributors {
    padding-left: 20px;
    text-indent: -20px;
}

#post-7535 .buttons #ebook,
#post-7535 .buttons #ebook * {
    visiblity: hidden !important;
}



.people .entry-content ul {
    list-style: none;
    margin: 5px 0;
}

.people .entry-content ul li {
    list-style: none;
        display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    max-width: 300px;
    height: auto;
    text-align: center;
}

.people .entry-content ul li a img {
    padding: 10px;
    margin: 5px;
    clear: both;
    display: block;
    height: 250px;
}

.people .entry-content ul li a {
    padding: 5px;
    max-width: 200px;
    text-align: center;
    display: block;
}

.people .entry-content p {
    padding-right: 30px;
}

.wc-shortcodes-post-border .authors,
.wc-shortcodes-post-border .release {
    font-size: 0.8rem;
}

.wc-shortcodes-post-border .authors a {
    font-size: 1em;
}

.wc-shortcodes-entry-thumbnail a img {
	max-height: 280px;
	width: auto;
}

.wc-shortcodes-post-border .wc-shortcodes-footer-entry-meta,
.entry-content .wc-shortcodes-post-border h2{
	margin-top: 1rem;
	text-align: center;
}

.entry-content .wc-shortcodes-post-border h2 {
	text-transform: none;
}

.wc-shortcodes-post-box {
	position: relative;
}

.wc-shortcodes-post-box.category-forthcoming:before {
content: "forthcoming";
    display: block;
    padding: 1px 10px;
    background: #e43;
    position: absolute;
    top: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #f0f0f0;
}

.wc-shortcodes-posts-navigation .nav-links {
	text-align: center;
}
/*Frontend Login and Profile Field Customization*/
#theme-my-login h3:first-of-type,
#theme-my-login table.tml-form-table:first-of-type,
#theme-my-login table.tml-form-table:nth-of-type(4),
#theme-my-login tr.tml-user-contact-method-aim-wrap,
#theme-my-login tr.tml-user-contact-method-yim-wrap,
#theme-my-login tr.tml-user-contact-method-jabber-wrap,
#theme-my-login h3:nth-of-type(4),
#theme-my-login table.tml-form-table:nth-of-type(4) {
    display: none;
}


/*media queries*/
@media screen and (max-width: 1190px) {
	.cbp-rfgrid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}
@media screen and (max-width: 1024px) {
	.cbp-rfgrid li {
		width: 33.33333333333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
        .buttons #print, .buttons #ebook, .buttons #subscribe {
            width: 100%;
            float: none;
            border: none;
            border-bottom: 1px solid #ccc;
	    padding-bottom: 20px;
	    height: 170px;
        }

        .buttons #ebook input[type=submit].edd-submit {
            width: 70%;
            margin-left: -35%;
            height: auto;
            padding: 20px;
            float: none;
            clear: both;
            display: inline-block;
        }

        #ebook h3 {
            margin-bottom: 40px;
        }

        .buttons button {
            padding: 20px;
            height: auto;
        }

        .buttons .open-access {
            border-top: none;
        }

        .comment-form label[for="subscribe-reloaded"] {
            width: 100%;
        }
}
@media screen and (max-width: 768px) {
	.cbp-rfgrid li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}

        .cover, article.publication .entry-header, article.publication .entry-meta, article.publication .entry-content {
            max-width: 100%;
            float: none;
        }

        .related * {
            display: none;
        }

}
@media screen and (max-width: 480px) {
	.cbp-rfgrid li {
		width: 100%;
	}
}
@media screen and (max-width: 300px) {
}

.open-access a {
    font-style: normal;
}

#aboutus h2.white-text {
	font-size: 23px;
	font-weight: normal;
	width: 80%;
}

.about-us .section-header .section-legend {
	color: #000;
}
